:root {
    --color1: rgb(29, 29, 29);
    --color2: rgb(166, 133, 190);
    --color3: rgb(129, 165, 121);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color1);
}

::-webkit-scrollbar-thumb {
    background: #101010;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'fogstaregular';
    src: url('lib/fonts/Fogsta/fogsta-webfont.woff2') format('woff2'),
    url('lib/fonts/Fogsta/fogsta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reclinew05-regularregular';
    src: url('lib/fonts/Recline/recline-regular-webfont.woff2') format('woff2'),
    url('lib/fonts/Recline/recline-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 800px) {
}

body {
    background-image: url("assets/img/bggraycomplete.png");
    background-size: 100%;
    height: 100%;
    color: white;
    display: flex;
    background-repeat: no-repeat;
    scale: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s background ease;
    overflow-x: hidden;
}

.user-select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

button {
    position: fixed;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
}

button:active:hover {
    transition: 0.2s all ease;
    opacity: 0.8;
}

img {
    max-width: 100%;
    pointer-events: none;
}

#resume {
    background: var(--color3);
    border-radius: 15px;
    text-align: center;
    height: 32px;
    width: 120px;
    font-family: reclinew05-regularregular, sans-serif;
    font-size: 18px;
    margin-left: 240px;
}

#resume a {
    text-decoration: none;
    color: var(--color1);
}

.icon {
    height: 32px;
    width: 32px;
    right: 100px;
}

#github_icon {
    background-image: url("assets/img/github_icon.png");
    background-size: cover;
    top: 1550px;
}

#linkedin_icon {
    background-image: url("assets/img/linkedin_icon.png");
    background-size: cover;
    top: 1650px;
}

#email_icon {
    background-image: url("assets/img/email_icon.png");
    background-size: cover;
    top: 1750px;
}

#about {
    position: fixed;
    float: right;
    top: 1500px;
    left: 400px;
    width: 700px;
    font-size: 25px;
    font-family: reclinew05-regularregular, sans-serif;
}

p {
    margin: 2px;
}

.paragraph {
    font-size: smaller;
    opacity: 0.8;
}

.auto-type {
    color: var(--color3);
}

.center {
    text-align: center;
}

.footer {
    position: fixed;
    margin-left: 0;
    padding: 0;
    top: 4100px;
    width: 25%;
    color: white;
    text-align: center;
    font-family: reclinew05-regularregular, sans-serif;
    font-size: 10px;
}