:root {
    --background: rgb(39, 39, 39);
    --color: rgb(250, 250, 250);
}

@font-face {
    font-family: 'fogstaregular';
    src: url('lib/fonts/Fogsta/fogsta-webfont.woff2') format('woff2'),
    url('lib/fonts/Fogsta/fogsta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reclinew05-regularregular';
    src: url('lib/fonts/Recline/recline-regular-webfont.woff2') format('woff2'),
    url('lib/fonts/Recline/recline-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: var(--background);
    color: var(--color);
    overflow: hidden;
    transition: 0.5s background ease;
}

.user-select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.darkmode {
    position: absolute;
    transition: 0.5s all ease;
}

h1 {
    position: relative;
    float: left;
    padding: 20px;
    margin: 0;
    font-size: 30px;
    font-family: fogstaregular, sans-serif;
}

#navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    padding-left: 1000px;
    font-size: 25px;
    font-family: fogstaregular, sans-serif;
}

#navbar a {
    position: relative;
    float: left;
    display: block;
    text-align: center;
    padding: 25px;
    margin-right: 40px;
    text-decoration: none;
    color: var(--color);
}

#navbar a:before {
    position: absolute;
    bottom: 20px;
    content: '';
    margin-left: -25px;
    width: 100%;
    height: 3px;
    background: rgb(23, 23, 23);
    transform: translateX(-25%);
    opacity: 0;
}

#navbar a:hover {
    transition: 0.2s all ease;
    opacity: 0.8;
}

#navbar a:hover:before {
    opacity: 1;
    transition: 0.5s transform ease, 0.8s opacity ease;
    transform: translateX(0);
}

#navbar a:active {
    color: rgb(23, 23, 23);
}

#navbar a:active:hover:before {
    opacity: 0;
}

.active {
    opacity: 0.8;
}

button {
    position: fixed;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
}

button:active:hover {
    transition: 0.2s all ease;
    opacity: 0.8;
}

img {
    pointer-events: none;
}

.modeswitch {
    padding: 10px;
}

#mode {
    position: relative;
    width: 50px;
    height: 50px;
    padding-top: 5px;
}

#mode:hover {
    width: 52px;
    height: 52px;
    padding-top: 4px;
}

#resume {
    background: var(--color);
    border-radius: 15px;
    text-align: center;
    height: 32px;
    width: 120px;
    color: var(--background);
    font-family: reclinew05-regularregular, sans-serif;
    font-size: 18px;
    margin-left: 240px;
}

#resume a {
    text-decoration: none;
    color: var(--background);
}

.icon {
    height: 32px;
    width: 32px;
    left: 25px;
}

#github_icon {
    background-image: url("pics/github_icon.png");
    background-size: cover;
    top: 650px;
}

#linkedin_icon {
    background-image: url("pics/linkedin_icon.png");
    background-size: cover;
    top: 700px;
}

#email_icon {
    background-image: url("pics/email_icon.png");
    background-size: cover;
    top: 750px;
}

#vertical-line {
    position: fixed;
    height: 200px;
    width: 2px;
    border: 0;
    background: var(--color);
    top: 800px;
    left: 41px;
}

#profile {
    position: fixed;
    height: 400px;
    float: left;
    padding: 0;
    margin: 0;
    top: 300px;
    left: 350px;
    z-index: 100;
}

#profile_shadow {
    position: fixed;
    height: 400px;
    float: left;
    padding: 0;
    margin: 0;
    top: 350px;
    left: 400px;
}

#about {
    position: fixed;
    float: right;
    top: 400px;
    left: 850px;
    width: 600px;
    font-size: 25px;
    font-family: reclinew05-regularregular, sans-serif;
}

p {
    margin: 2px;
}

.paragraph {
    font-size: smaller;
    opacity: 0.8;
}

.center {
    text-align: center;
}


/*rgb(131, 105, 83)*/
/*rgb(150, 122, 188)*/
/*rgb(87, 69, 55)*/
/*rgb(188, 158, 126)*/
/*rgb(23, 23, 23)*/
